@import "tailwindcss";





::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: #111; }
::-webkit-scrollbar-thumb { background: #333; border-radius: 4px; }
::-webkit-scrollbar-thumb:hover { background: #555; }

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}
.accordion-content.open {
  max-height: 500px;
}

:root {
  --font-sans: var(--font-raleway);
}

body {
  font-family: var(--font-sans), sans-serif;
}


@keyframes scrollXReverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-scroll-x-reverse {
  animation: scrollXReverse 25s linear infinite;
  width: max-content;
}